*{
	box-sizing: border-box;
}

html{
	background-color: black;
	font-family: Helvetica;
}

.slot{
	/* border: 2px solid white; */
	color: white;
	width: 50%;
	padding: 30px;
	height: 300px;
}

.top-left{
	float: left;
	display: inline-block;
}

.top-right{
	float: right;
	display: inline-block;
	text-align: right;
}

.bottom-left{
	float: left;
	display: inline-block;
}

.bottom-right{
	float: left;
	display: inline-block;
}